body {
  background: linear-gradient(90deg, #0cc0df, #ffde59);
}

.dice-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.dice-1-container {
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dice-2-container {
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.roll-dice button {
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.dice-image1,
.dice-image2 {
  padding: 5px;
  border-radius: 30px;
  box-shadow: 0 10px 20px rgba(61, 59, 59, 0.1);
}

.win-flag-none {
  display: none;
}
@media (max-width: 1249px) {
  .dice-image1,
  .dice-image2 {
    height: 150px;
    width: 150px;
  }
}

@media (min-width: 1250px) {
  .dice-container {
    gap: 50px;
  }

  .container {
    padding: 10px 200px;
  }
}
